.font {
    font-family: Arial, Helvetica, sans-serif;
}
.centered{
    text-align: center;
}
.bg{
    background-color: #EAEDED;
}
.bg1 {
    background-color: #222F3E;
}
.bg2 {
    background-color: #354758;
}
.bg3 {
    background-color: #F56600;
}
.bgIm {
    background-image: url(./assets/bg-image.png);
    background-size: auto;
}
.bgW{
    background-color: #FFFFFF;
}
.white {
    color: white;
}
.link > a {
    text-decoration: none;
    padding: 1em;
    color: white;
}
.padding {
    padding: 5px;
}
.margin{
    margin: 2em 1em;
}
.Logo {
    width: 10em;
    height: 4em;;
    padding: 1em;
}
.Top {
    width: 100%;
    margin: 0%;
}
.Bot {
    display: flex;
    width: 100%;
    margin: 0%;
    justify-content: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 1em;
}
.container1 {
    display: flex;
    padding: 1em 2em;
    align-items: baseline;
}
.container2 {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 5px;
}
.p {
    margin: 0;
}
.link1 {
    text-decoration: none;
    color: #017185;
}
.img img{
    width: 20%;
    border-radius: 25px;
    box-shadow: 3px 3px 10px gray;
}
.img1 {
    width: 100%;
    height: auto;
}
.body {
    margin: 0%;
}